.que.amthauer6 .generaltable tr td:first-child {
    width: 50px;
    text-align: center;
    font-weight: bold;
    border-right: 1px solid #dee2e6;
}

.que.amthauer6 .generaltable tr td:last-child,
.que.amthauer6 .generaltable tr td.c8 {
    width: 100px;
    text-align: right;
    border-left: 1px solid #dee2e6;
}

.que.amthauer6 .generaltable tr td:last-child input,
.que.amthauer6 .generaltable tr td.c8 input {
    width: 100px;
}

.que.amthauer6 .generaltable tr th:not(:first-child):not(:last-child),
.que.amthauer6 .generaltable tr td:not(:first-child):not(:last-child) {
    text-align: center;
}

.que.amthauer6 table.correct-values-table {
    width: 100%;
}

.que.amthauer6 table.correct-values-table th,
.que.amthauer6 table.correct-values-table td {
    width: 5%;
    text-align: center;
    border: 1px solid #dee2e6;
}
